<h1>Add Note</h1>

	<%= form_for(@note) do |f| %>
		<%= render 'shared/error_messages', :object => f.object %>
	  
	  
	  
	  <div class="field">
	
		 <%= f.collection_select( :student_id, @students, :id, :name, :prompt => true, :class => "dropdown") %> 
	  </div>
	  
	  <div class="field">
		<%= f.label :note %><br />
		<%= f.text_field :note, :size => 70 %>
	  </div>
	 
	   <div class="field">
		<%= f.label :important %><br />
		<%= f.check_box :important %>
	  </div>
	  
	  <div class="actions">
		<%= f.submit "Add Note!" %>
	  </div>
	<% end %>
	
	
	<div class = "todo round">
		<h3> To Do </h3>
		
		<ul >
			<%= render @notes %>
		</ul>
	</div>
	